<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7x5-SzAZ4mqyhGMCkcQ3Lye6aRuRSOPc</string>
	<key>GCM_SENDER_ID</key>
	<string>631256052782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.korcham4th-luke.multiplaypractice</string>
	<key>PROJECT_ID</key>
	<string>korcham4th-luke</string>
	<key>STORAGE_BUCKET</key>
	<string>korcham4th-luke.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631256052782:ios:791bf82ebd16a2425d1bbf</string>
</dict>
</plist>